 body {
   padding-left: 0;
   padding-right: 0;
 }
 .navbar {
   height: 42px;
 }
 .navbar .navbar-inner {
   height: 42px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .container-fluid {
   background: rgba(0, 0, 0, 0) url(../images/source.jpg) no-repeat 0% 0%;
   background-size: cover;
   height: 374px;
 }
 .container-fluid .container {
   margin-top: 40px;
 }
 .container-fluid .container .row-fluid {
   margin: 0px 30px 0px 30px;
 }
 .container-fluid .container .row-fluid .span12 .heading {
   font-family:"verdana";
   font-size: 40px;
   color: #2d2d2d;
 }
 .container-fluid .container .row-fluid .span12 p {
   font-family:"verdana";
   font-size: 20px;
   color: #2d2d2d;
 }